$primary: #e900ff;
$secondary: #5800ff;
$blue: #2f5bd1b3;
$black: #000;
$white: #fff;
$yellow: #ffc600;
$gradient: linear-gradient(to top, #e900ff, #cd00ff, #ae00ff, #8900ff, #5800ff);
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Chakra Petch", sans-serif;
