@media (max-width: 1280px) {
  @include layouts-1280;
}
@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include layouts-1160;
  @include footer-1160;
}
@media (max-width: 1025px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include header-1025;
  @include layouts-1025;
}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
  @include footer-940;
  @include layouts-940;
}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 15px;
  }
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }
}
@media (max-width: 460px) {
}
